<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock %}</title>
    {% block stylesheets %}
        {% stylesheets filter='cssrewrite'
            "@bootstrap_min_css"
            "@metis_menus_css"
            "@font_awesome_css"
            "@flag_icon_css"
        %}
            <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}

        {% stylesheets filter="scssphp"
            "@sb_admin_css"
        %}
            <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}
    {% endblock %}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>


{% block base_content %}

{% endblock %}

{% javascripts
    "@jquery"
    "@metis_menus_js"
    "@bootstrap_min_js"
    "@sb_admin_js"
%}
    <script type="application/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

{% block javascripts %}

{% endblock %}
</body>
</html>
