{% extends "::content_page_layout.html.twig" %}
{% set title = 'app.sample.homepage.title'|trans %}
{% block content %}

    <div class="row">
        <p>{{ "app.sample.homepage.helloMessage"|trans }}</p>
    </div>

{% endblock %}

