$bg-color: #f8f8f8;
$bg-active-color: #eee;
$page-wrapper-color: #fff;
$panel-green-color:#5cb85c;
$panel-green-hover-color:#3d8b3d;
$panel-red-color:#d9534f;
$panel-red-hover-color:#b52b27;
$panel-yellow-color:#f0ad4e;
$panel-yellow-hover-color:#df8a13;
$btn-primary: #428bca;
$btn-info: #5bc0de;
$btn-warning: #f0ad4e;
$btn-success: #5cb85c;
$btn-danger: #d9534f;
$btn-hover-color: #fff;
$border-color: #e7e7e7;
$border-grid-color: #ddd;
