<li>
    <a href="{{ url }}">
        <div>
            <strong>{{ name }}</strong>
            <span class="pull-right text-muted">
                <em>{{ date }}</em>
            </span>
        </div>
        <div>
            {{ message }}
        </div>
    </a>
</li>