{% extends '::base_layout.html.twig' %}

{% block title %}
    {% if title is defined %}
        {{ title }}
    {% endif %}
{% endblock %}

{% block base_content %}
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top"
             role="navigation"
             style="margin-bottom: 0">

            {% include ':navigation:header.html.twig' %}
            {% include ':navigation:left_menu.html.twig' %}
        </nav>

        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                {% if title is defined %}
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">{{ title }}</h1>
                    </div>
                </div>
                {% endif %}
                {% block content %}{% endblock %}
            </div>
            <!-- /.container-fluid -->
        </div>
    </div>
{% endblock %}